<h3 class="text-center mb-4" style="color: brown;"><label>DEFUNCIONES REGISTRADAS </label></h3>
<hr>
<div class="row container">
    <div class="col text-right">
        <button mat-stroked-button routerLink="../defunciones/nuevo" class="btn btn-primary m-3">
            <mat-icon>
                add
            </mat-icon>   Agregar
        </button>
    </div>
</div>

<app-tabla-defunciones></app-tabla-defunciones>

<div *ngIf="cargando" class="alert alert-info text-center m-3 animated fadeIn faster">
    <h4 class="alert-heading"> Cargando</h4>
    <p>
        <i class="fas fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor.
    </p>
</div>