<div class="row-2 new-sacerdote-container">
    <form [formGroup]="editPapaForm" (ngSubmit)="editPapa(editPapaForm.value)">
        <mat-form-field>
            <mat-label> Presbitero </mat-label>
            <input matInput placeholder="Nombre" formControlName="namePost">
        </mat-form-field>

        <div class="container-input-file mb-3">
            <label class="custom-file">
                <input type="file" formControlName="imgPost" (change)="cargarImg($event)" />
                <mat-icon>cloud_upload</mat-icon><span>Imagen</span>
            </label>

        </div>

        <div class="container-button">
            <input type="submit" value="Actualizar" class="mat-flat-button">
        </div>
    </form>
</div>