<div class="row-2 new-sacerdote-container">
    <form [formGroup]="editCabeceraForm" (ngSubmit)="editCabecera(editCabeceraForm.value)">
        <mat-form-field>
            <mat-label> Parroquia </mat-label>
            <input matInput placeholder="Nombre" formControlName="parroquia">
        </mat-form-field>

        <mat-form-field>
            <mat-label> Descripcion </mat-label>
            <input matInput placeholder="Nombre" formControlName="descripcion">
        </mat-form-field>


        <div class="container-button">
            <input type="submit" value="Actualizar" class="mat-flat-button">
        </div>
    </form>
</div>